body, html {
  background-color: #0f1007;
  color:white;
}

.block{
	width:100%;
	margin-top: 5vh;
	padding: 1em;
	background-color: #3b3434;
}

#name{
	position: relative;
	background-color: #3b3434;
	margin-bottom: 0.5em;
	font-size: 3vw;
}

#selector{
	padding-bottom: 0;
}

.category{
	color:white;
	position:relative;
	background-color: #625858;
	height:3em;
	border:none;
	text-decoration: none;
	width:100%;
	-webkit-appearance: none;
}

.category:hover {
    -webkit-animation: category-border-raise 0.2s forwards; /*for less modern browsers*/
    animation: category-border-raise 0.2s forwards; /*Inifinite*/
}

/* Animations */
@keyframes category-border-raise {
    to   {border-bottom:solid 0.15em black; background-color: #978888;}
}

.selected{
	border-bottom: solid 0.15em black; background-color: #978888;
}

#journeys{
	display:none;
}

#statistics{
	display: none;
}

#settings{
	display:none;
	padding-bottom: 2em;
	margin-bottom: 1em;
}

#wrongPass{
	color:red;
	background-color: white;
	padding:0.5em;
	border-radius: 0.5em;
}

#detailChange{
	color:#00c500;
	background-color: white;
	padding:0.5em;
	border-radius: 0.5em;
}

#detailChangeFailed{
	color:#c5c014;
	background-color: white;
	padding:0.5em;
	border-radius: 0.5em;
}