body, html {
  height: 100%;
  background-color: black;
}

.bg { 
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar{
	position:fixed;
	top:0;
	width:100%;
	background-color: #c51414;
	color:white;
	height:10vh;
}

#login{
	position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding:2em;
	background-color: #737392;
	color:black;
	box-shadow: 0 0 30px black;
	text-align: center;
}

#incorrectMessage{
	color:red;
}