body{
	margin-top: 10vh;
	background-color: black;
	color:white;
	overflow-x: none;
}

#map{
	width:100%;
	height: min(50vw, 50vh);
	color:black;
}

#routeName{
	padding:0.5em;
	font-size: 150%;
}

#toFromDisplay{
	background-color: grey;
	padding:1em;
	font-size: 150%;
	border-left: solid red 2vw;
}

#progressBar{
	height: 1.5em;
	background-color: #4e0a0a;
	border: solid black 0.1em;
	padding:0;
}

#progressBarContents{
	height:1.3em;
	width:0%;
	background-color: blue;
}

#letterValues{
	display:none;
}

#challengers{
	background-color: grey;
	padding:1em;
	font-size: 150%;
	border-left: solid green 2vw;
}

.challenger{
	background-color: green;
	padding:1em;
	font-size: 70%;
	margin-top: 1em;
	border: solid black;
}

.openUserProfile{
	height: 100%;
	width:100%;
	border:none;
	background-color: #4c8359;
	text-decoration: none;
}

.openUserProfile:hover {
    -webkit-animation: user-border-raise 0.2s forwards; /*for less modern browsers*/
    animation: user-border-raise 0.2s forwards; /*Inifinite*/
}

/* Animations */
@keyframes user-border-raise {
    to   {border-bottom:solid 0.15em black; background-color:yellow;}
}

#actionButtons{
	height:100%;
	bottom:0;
}

.actionButtonContainer{
	padding:0;
	border:black thick;
}

.actionButton{
	width:100%;
	background-color: white;
	color:black;
	cursor: pointer;
}

#config{
	display: none;
	position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding:2em;
	background-color: #d9d6e2;
	color:black;
}